@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gradient-start: #086cac;
  --gradient-middle: #5f71d8;
  --gradient-end: #086cac;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #086cac;
  --color-white: #fff8f8;
}

body {
  background: var(--color-white);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.bg-gradient {
  background: radial-gradient(
    ellipse at left,
    var(--gradient-start) 0%,
    var(--gradient-middle) 50%,
    var(--gradient-end) 100%
  );
}

.bg-gradient2 {
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-middle),
    var(--gradient-end)
  );
}
